<section>
  <div class="app_heads">create a blog post</div>

  <form class="new-post-form col-4">
    <div>
      <label for="post-title">title</label>
      <input type="text" id="post-title" class="post-title"name="post-title" />
    </div>
    <div>
      <label for="post-message">message</label>
      <input type="text" id="post-message" class="post-message" name="post-message" />
    </div>
    <button type="submit" class="btn btn-primary">create</button>
  </form>
</section>
<br>
{{#if posts.length}}
<section>
  <div class="app_heads">your posts</div>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}


<script src="/javascript/add-post.js"></script>