   <div class="container">
      <div class="row">
        <form class="login-form">
          <div class="app_heads">user login</div>
          <div>
            <label for="email"
              ><i class="fas fa-regular fa-envelope"></i>email:</label>
            <input type="text" id="email" />
          </div>
          <div>
            <label for="password"
              ><i class="fas fa-regular fa-lock"></i>password:</label>
            <input type="password" id="password" />
          </div>
          <div>
            <button type="submit" class="btn btn-primary">login</button>
        </div>
            <a href="/signup" class="signup-link">signup now</a>
        </form>
      </div>
    </div>


<script src="/javascript/login.js"></script>