    <div class="container">
      <div class="row">
        <form class="signup-form">
          <p>user signup</p>
          <div class="signup-box">
          <div class="signup-div-1">
            <label for="fname">first name:</label>
            <input type="text" id="fname" />
            <br />
            <label for="lname">last name:</label>
            <input type="text" id="lname" />
            <br />
            <label for="lname">user name:</label>
            <input type="text" id="username" />
            <br />
            <label for="email">email:</label>
            <input type="text" id="email" />
            <br />
            <label for="password">password:</label>
            <input type="password" id="password" />
          </div>
          <div class="signup-div-2">
            <label for="address1">address 1:</label>
            <input type="text" id="address1" />
            <br />
            <label for="city">city:</label>
            <input type="text" id="city" />
            <br />
            <label for="state">state:</label>
            <input type="text" id="state" />
            <br />
            <label for="zip">zip code:</label>
            <input type="text" id="zip" />
            <br />
          </div>
        </div>
          <div>
            <button type="submit" class="btn btn-primary">signup</button>
          </div>
        </form>
      </div>
    </div>

<script src="/javascript/signup.js"></script>