{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div class="app_heads">create a comment</div>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">comment</button>
    <button type="button" class="upvote-btn btn btn-primary fas fa-thumbs-up"></button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}